/* src/App.css */
.App {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.movie-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px;
}

.movie-card img {
  width: 100%;
  height: auto;
}
